.fileBlock{
  border: 2px dashed $default;
  &.enterZone{
    border: 6px dashed $default-dark;
  }
}
.border-dashed{
  border-style: dashed !important;
}
.stepCircle{
  width: 36px;
  height: 36px;
  @include media-breakpoint-down(lg) {
    width: 24px;
    height: 24px;
  }
  &.active{
    &:after{
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid $default;
      padding: 20px;
      @include media-breakpoint-down(lg) {
        width: 28px;
        height: 28px;
        padding: 14px;
      }
    }
  }
}
.auto-h{
  height: calc(100vh - 92px - 56px - 86px);
}
.object-content{
  object-fit: contain;
}
.cursor-not-allowed{
  cursor: not-allowed !important;
}
.z-1{
  z-index: 1;
}
.z-0{
  z-index: 0;
}