$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                35: 35%,
                "fit": fit-content,
              )
            ),
        )
      ),
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    "font-weight":
      map-merge(
        map-get($utilities, "font-weight"),
        (
          responsive: true,
        )
      ),
    "line-height":
      map-merge(
        map-get($utilities, "line-height"),
        (
          responsive: true,
        )
      ),
  )
);
