 /* For Chrome or Safari */
 progress::-webkit-progress-bar {
  background-color: $default;
}
progress::-webkit-progress-value {
  background-color: $default-dark !important;
}

/* For Firefox */
progress {
  background-color: $default;
}
progress::-moz-progress-bar {
  background-color: $default-dark !important;
}

/* For IE10 */
progress {
  background-color: $default;
}
progress {
  background-color: $default-dark;
}